* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    height: 100%;
}

/* LOGO SIZE */
.navbar-brand img {
    width: 200px;
}

.nav-item {
    color: #a669ce;
    font-weight: 600;
    margin-left: 30px;
}

.wrapper {
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);
    height:100%;
}

.feature-box {
    padding: 1000px;
    width: 160%;
}

.content {
    width: 150%;
    margin-left: 100px;
    height: 100%;
}

.viewPostContent {
    width: 220%;
    margin-left: 50px;
    margin-top: -30px;
    height: 100%;
}

.uploadStyle {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

.date{
    font-size: 10px;
}

.image {
    margin-left: 40px;
    height: 500px;
    width: 600px;
}


.btnComment {
    margin-top: 10px;
}

.btnReport{
    background-color: transparent;
    border: none;
}

.chkDelete{
   font-size: 12px;
}