header {
    padding-left: 100px;
}

    header a {
        height: 100%;
        display: inline-block;
    }

    header img {
        pointer-events: none;
    }

.smallFont {
    font-size: 13px;
}

.hightlight {
    color: #e63945;
}

.search_bar form {
    background: #1d3557;
    color: #f1faee;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 140px 80px minmax(100px, auto) minmax(100px, 250px) 30px;
    grid-template-areas: 'logo sort filter search account padding';
    grid-gap: 5px;
    box-sizing: border-box;
    z-index: 2;
}

    .search_bar form > div {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }

    .search_bar form .lnk {
        padding: 5px;
        font-weight: bold;
    }

        .search_bar form .lnk i {
            pointer-events: none;
        }

        .search_bar form .lnk:hover {
            color: #a8dadc;
        }

    .search_bar form label {
        margin: 0;
        font-weight: bold;
    }

    .search_bar form .sortBy {
        grid-area: sort;
    }

        .search_bar form .sortBy > label {
            padding: 5px 8px;
        }

    .search_bar form .filter {
        grid-area: filter;
        position: relative;
        box-sizing: border-box;
        z-index: 5;
    }

        .search_bar form .filter > label {
            padding: 5px 8px;
        }

        .search_bar form .filter .filter_panel {
            display: none;
            background: #1d3557;
            position: absolute;
            padding: 10px;
            width: 200px;
            top: 100%;
        }

            .search_bar form .filter .filter_panel label {
                margin-left: 5px;
            }

        .search_bar form .filter #other_value {
            display: none;
            position: relative;
        }

            .search_bar form .filter #other_value input {
                width: 100%;
            }

    .search_bar form .search_input {
        grid-area: search;
    }

        .search_bar form .search_input input[type="text"] {
            width: 60%;
            padding: 5px;
            margin-right: 7px;
            border: none;
            border-radius: 3px;
        }

        .search_bar form .search_input input[type="submit"] {
            all: unset;
            padding: 3px 10px;
            background: #e63945;
            color: #f1faee;
            border-radius: 5px;
            font-weight: bold;
        }

            .search_bar form .search_input input[type="submit"]:hover {
                background: #ff6b6e;
            }

    .search_bar form .account {
        grid-area: account;
        justify-content: flex-end;
    }

        .search_bar form .account .lnk {
            padding: 5px;
            font-weight: bold;
        }

            .search_bar form .account .lnk i {
                pointer-events: none;
            }

            .search_bar form .account .lnk:hover {
                color: #a8dadc;
            }

        .search_bar form .account .profile {
            position: relative;
            z-index: 2;
        }

            .search_bar form .account .profile > label {
                padding: 5px 10px;
            }

                .search_bar form .account .profile > label:hover {
                    color: #a8dadc;
                }

            .search_bar form .account .profile #account_opts {
                display: none;
                position: absolute;
                top: 100%;
                right: 0%;
                width: 150px;
                padding: 10px;
                /*background: @color-base;*/
                background: #ffffff;
                clip-path: polygon(88% 0, 93% 4%, 100% 4%, 100% 100%, 0 99%, 0 4%, 80% 4%);
                border: 1px solid #1d3557;
            }

                .search_bar form .account .profile #account_opts div {
                    display: flex;
                    flex-direction: column;
                }

                .search_bar form .account .profile #account_opts a:hover {
                    color: #1d3557;
                }
