
.user_page {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'left right';
    width: 80%;
    min-height: 500px;
    margin: 2em auto;
    grid-gap: 10px;
}
/* ==== user_left ==== */
.user_left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background: #AAABBB;
    color: #25274D;
    box-shadow: -15px 15px 14px -10px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.user_left_imgbx {
    width: 150px;
    height: 150px;
    margin: 10px 0;
}

.user_left_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user_left_name {
    font-size: 20px;
    font-weight: bold;
}
.user_left_other{
    font-size: 15px;
    margin-bottom: 10px;
}

.post_new_url {
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    background: #2E9CCA;
    color: #f3f3f3;
    border-radius:5px;
}

.post_new_url:hover {
    background: #29648A;
    text-decoration: none;
    color: #f3f3f3;
}
/* ==== user_right ==== */
.user_right {
    grid-area: right;
    width: 100%;
    height: 100%;
}

.user_right_navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #f3f3f3;
}

.user_right_navlink {
    all: unset;
    height: 40px;
    padding: 5px 20px;
    background: #f3f3f3;
    color: #25274D;
    font-size: 20px;
    font-weight: bold;
    box-sizing:border-box;
}

.user_right_navlink:hover {
    color: #2E9CCA;
}
.active {
    color: #2E9CCA;
    border-bottom: 3px solid #2E9CCA;
}


.user_right_content {
}

.user_right_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 25px auto;
}

    .user_right_form > label {
        font-weight: bold;
        font-size: 18px;
        margin: 5px;
    }

.user_right_file {
    padding: 20 30;
    color: #f3f3f3;
    background: #34495e;
    border: none;
    font-size: 15;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user_right_fileSubmit {
    padding: 5px;
    font-weight: bold;
}
/* ==== Bookmark ====*/
.posts {
    width: 100%;
    height: 600px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.post {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 'left right';
    padding: 10px 20px;
    margin: 20px 0;
    background: #f3f3f3;
    border-radius: 10px;
    color: #7e7e7e;
}
.post_left{
    grid-area: left;
    width: 100%;
    box-sizing:border-box;
}

post_right{
    grid-area: right;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-areas:
        'title action'
        'metadata action'
        ;
}

.post_title {
    grid-area: title;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5em;
}
.post_title > a{
    text-decoration:none;
    color: #1f1f1f;
}
.post_title > a:hover {
    color: #47c5c9;
}

.post_metadata {
    grid-area: metadata;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.post_metadata > div {
    margin-right: 15px;
}

.post_category {
    font-weight: bold;
    color: #1f1f1f;
}

.post_others {
    grid-area: action;
    display: flex;
    height: 35px;
    align-items: flex-end;
    color: #7e7e7e;
    font-size: 15px;
    font-weight:bold;
}
.post_others > div {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}
.post_others input{
    all:unset;
}

.post_others .action{
    cursor:pointer;
}
.post_others .action:hover {
    /*background: #bababa;*/
    color: #47c5c9;
}
/* ===== SCROLL BAR ====*/
.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #91919;
}

/* ===== Filter ===== */
.display_opts{
    display:flex;
    align-items:baseline;
    background: #fff;
    padding: 5px 17px;
    font-weight: bold;
}
.display_opts > div{
    /*margin-right: 10px;*/
    padding: 7px;
}
.display_opts label{
    margin: 0;
}

.display_opts input[type="submit"]{
    all:unset;
    font-weight:bold;
    background: #ff006e;
    color:#f3f3f3;
    border-radius: 3px;
    padding: 5px 10px;
}
.display_opts input[type="submit"]:hover {
    background: #47c5c9;
}
.border_right {
    border-right: 2px solid #f3f3f3;
}

.sort select{
    border: none;
    border-bottom: 2px solid #1f1f1f;
    width: 70px;
}
#filter{
    cursor: pointer;
}
#filter:hover{
    color:aqua;
}
.filter_box{
    display:none;
    position:relative;
}
.filter_opts {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 140px;
    padding: 5px;
    background: yellow;
    top:17px;
}
.filter_opts input{
    width: 16px;
    height: 16px;
    margin: 5px;
}
.filter_opts label{
    margin: 0;
}
/* ===== Profile Page ===== */
.profile_content{
    width: 100%;
    padding: 10px 40px;
    box-sizing:border-box;
}
.profile_content h4{
    margin: 0;
}
.profile_content label{
    margin: 0;
}
#previewImage  {
    display:none;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#drop_zone{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 300px;
    border: 2px dashed #7e7e7e;
}
#drop_zone i{
    font-size: 30px;
}
.input_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
#file_label{
    cursor:pointer;
    padding: 5px;
}
#file_label:hover{
    color:#2E9CCA;
}

.btnUpload {
    all:unset;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    background: #2E9CCA;
    color: #f3f3f3;
    border-radius: 5px;
}
.btnUpload:hover {
    background: #29648A;
}
.profile_btn_box{
    display: flex;
    width:100%;
    justify-content:flex-end;
    margin-top: 10px;

}